In [1]:
import pandas as pd

In [2]:
world_data = pd.read_csv("data/world_bank/combined_world_data.csv")
eurovision_data = pd.read_csv("data/eurovision/cleansed_eurovision_data.csv")

In [3]:
world_data.sample(10)

,index,Country Name,Country Code,Year,Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",...,"People with basic handwashing facilities including soap and water, urban (% of urban population)","Risk premium on lending (lending rate minus treasury bill rate, %)","Incidence of malaria (per 1,000 population at risk)","Net financial flows, RDB concessional (NFL, current US$)",Financial intermediary services indirectly Measured (FISIM) (constant LCU),"Net financial flows, IMF concessional (NFL, current US$)",Newborns protected against tetanus (%),"Net official flows from UN agencies, UNWTO (current US$)",Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Use of insecticide-treated bed nets (% of under-5 population)
2575,15,Andorra,AND,1975,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1034,10,Spain,ESP,1970,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2605,45,Andorra,AND,2005,100.00,100.0,100.0,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,27,Luxembourg,LUX,1987,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1804,12,Lithuania,LTU,1972,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2991,47,Czechia,CZE,2007,100.00,100.0,100.0,100.0,100.0,100.0,...,NaN,2.949826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3055,47,Israel,ISR,2007,100.00,100.0,100.0,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2217,41,Monaco,MCO,2001,100.00,100.0,100.0,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2829,13,Greece,GRC,1973,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
746,42,Bosnia and Herzegovina,BIH,2002,51.65,30.2,79.0,98.5,97.9,99.3,...,NaN,NaN,NaN,NaN,182025700.0,NaN,NaN,NaN,NaN,NaN

In [4]:
eurovision_data.sample(10)

,Song,Artist,Country,Year,Language,Grand Final Place,Grand Final Points,Semifinal,Semifinal Place,Semifinal Points
237,L-imħabba,Helen and Joseph,Malta,1972.0,Maltese,18.0,48.0,NaN,NaN,NaN
515,Nur noch Gefühl,Gary Lux,Austria,1987.0,German,20.0,8.0,NaN,NaN,NaN
283,Gelukkig zijn,Ann Christy,Belgium,1975.0,English,15.0,17.0,NaN,NaN,NaN
2357,Lisa Mona Lisa,Wilfried,Austria,1988.0,German,21.0,0.0,0.0,0.0,0.0
53,Einmal sehen wir uns wieder,Lale Andersen,Germany,1961.0,French,13.0,3.0,NaN,NaN,NaN
1867,Sehnsucht,Jimmy Makulis,Austria,1961.0,German,15.0,1.0,0.0,0.0,0.0
430,Bem bom,Doce,Portugal,1982.0,Portuguese,13.0,32.0,NaN,NaN,NaN
652,Don't Ever Cry,Put,Croatia,1993.0,English,15.0,31.0,NaN,NaN,NaN
3218,Kedvesem (Zoohacker Remix),ByeAlex,Hungary,2013.0,Hungarian,10.0,84.0,2.0,8.0,66.0
191,De troubadour,Lenny Kuhr,Netherlands,1969.0,Dutch,1.0,18.0,NaN,NaN,NaN

In [5]:
eurovision_countries = eurovision_data["Country"].unique()
world_countries = world_data["Country Name"].unique()

In [6]:
for country in eurovision_countries:
    if country not in world_data["Country Name"].unique():
        print(country)

nan
Yugoslavia
Turkey
Russia
Slovakia
Serbia and Montenegro
Czech Republic

In [7]:
for country in world_countries:
    if country not in eurovision_countries:
        print(country)

Russian Federation
Slovak Republic
Czechia
Turkiye

In [8]:
eurovision_data["Country"].replace({"Czech Republic": "Czechia", "Russia": "Russian Federation", "Slovakia": "Slovak Republic", "Turkey": "Turkiye"}, inplace=True)

/var/folders/kl/zs51p_z135905dzchw5f3n480000gp/T/ipykernel_17414/796732920.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  eurovision_data["Country"].replace({"Czech Republic": "Czechia", "Russia": "Russian Federation", "Slovakia": "Slovak Republic", "Turkey": "Turkiye"}, inplace=True)

In [9]:
eurovision_data.rename(columns={"Country": "Country Name"}, inplace=True)

In [10]:
merged_df = pd.merge(eurovision_data, world_data, on=['Country Name', 'Year'], how='inner').reset_index()

In [11]:
first_cols = ['Country Name', 'Country Code', 'Year', "Song", "Artist", "Language", "Grand Final Place", "Grand Final Points", "Semifinal", "Semifinal Place", "Semifinal Points"]
remaining_cols = [col for col in merged_df.columns if col not in first_cols]
new_col_order = first_cols + remaining_cols

In [12]:
merged_df = merged_df[new_col_order]

In [13]:
merged_df.tail(10)

,Country Name,Country Code,Year,Song,Artist,Language,Grand Final Place,Grand Final Points,Semifinal,Semifinal Place,...,"People with basic handwashing facilities including soap and water, urban (% of urban population)","Risk premium on lending (lending rate minus treasury bill rate, %)","Incidence of malaria (per 1,000 population at risk)","Net financial flows, RDB concessional (NFL, current US$)",Financial intermediary services indirectly Measured (FISIM) (constant LCU),"Net financial flows, IMF concessional (NFL, current US$)",Newborns protected against tetanus (%),"Net official flows from UN agencies, UNWTO (current US$)",Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Use of insecticide-treated bed nets (% of under-5 population)
3504,San Marino,SMR,2023.0,Like an Animal,Piqued Jacks,English,0.0,0.0,2.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3505,Serbia,SRB,2023.0,Samo mi se spava,Luke Black,Serbian,24.0,30.0,1.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3506,Serbia,SRB,2023.0,Samo mi se spava,Luke Black,English,24.0,30.0,1.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3507,Slovenia,SVN,2023.0,Carpe Diem,Joker Out,Slovene,21.0,78.0,2.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3508,Spain,ESP,2023.0,Eaea,Blanca Paloma,Spanish,17.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3509,Sweden,SWE,2023.0,Tattoo,Loreen,English,1.0,583.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3510,Switzerland,CHE,2023.0,Watergun,Remo Forrer,English,20.0,92.0,1.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3511,Ukraine,UKR,2023.0,Heart of Steel,Tvorchi,English,6.0,243.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3512,Ukraine,UKR,2023.0,Heart of Steel,Tvorchi,Ukrainian,6.0,243.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3513,United Kingdom,GBR,2023.0,I Wrote a Song,Mae Muller,English,25.0,24.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3514 entries, 0 to 3513
Columns: 1498 entries, Country Name to Use of insecticide-treated bed nets (% of under-5 population)
dtypes: float64(1491), int64(2), object(5)
memory usage: 40.2+ MB

In [15]:
merged_df.to_csv("data/combined_data.csv")