In [148]:
import pandas as pd
from glob import glob
from random import choice

In [133]:
country_filepaths = glob("*/*/*/*_data.csv")
print(result_filepath)

['data/world_bank/poland/poland_data.csv', 'data/world_bank/belarus/belarus_data.csv', 'data/world_bank/russia/russia_data.csv', 'data/world_bank/norway/norway_data.csv', 'data/world_bank/luxembourg/luxembourg_data.csv', 'data/world_bank/cyprus/cyprus_data.csv', 'data/world_bank/ukraine/ukraine_data.csv', 'data/world_bank/france/france_data.csv', 'data/world_bank/moldova/moldova_data.csv', 'data/world_bank/san_marino/san_marino_data.csv', 'data/world_bank/georgia/georgia_data.csv', 'data/world_bank/bosnia_and_herzegovina/bosnia_and_herzegovina_data.csv', 'data/world_bank/belgium/belgium_data.csv', 'data/world_bank/netherlands/netherlands_data.csv', 'data/world_bank/morocco/morocco_data.csv', 'data/world_bank/estonia/estonia_data.csv', 'data/world_bank/spain/spain_data.csv', 'data/world_bank/montenegro/montenegro_data.csv', 'data/world_bank/serbia/serbia_data.csv', 'data/world_bank/croatia/croatia_data.csv', 'data/world_bank/australia/australia_data.csv', 'data/world_bank/azerbaijan/azerbaijan_data.csv', 'data/world_bank/latvia/latvia_data.csv', 'data/world_bank/germany/germany_data.csv', 'data/world_bank/albania/albania_data.csv', 'data/world_bank/portugal/portugal_data.csv', 'data/world_bank/ireland/ireland_data.csv', 'data/world_bank/switzerland/switzerland_data.csv', 'data/world_bank/lithuania/lithuania_data.csv', 'data/world_bank/sweeden/sweeden_data.csv', 'data/world_bank/united_kingdom/uk_data.csv', 'data/world_bank/slovak_republic/slovak_republic_data.csv', 'data/world_bank/slovenia/slovenia_data.csv', 'data/world_bank/hungary/hungary_data.csv', 'data/world_bank/monaco/monaco_data.csv', 'data/world_bank/bulgaria/bulgaria_data.csv', 'data/world_bank/romania/romania_data.csv', 'data/world_bank/italy/italy_data.csv', 'data/world_bank/denmark/denmark_data.csv', 'data/world_bank/north_macedonia/north_macedonia_data.csv', 'data/world_bank/andorra/andorra_data.csv', 'data/world_bank/austria/austria_data.csv', 'data/world_bank/finland/finland_data.csv', 'data/world_bank/malta/malta_data.csv', 'data/world_bank/greece/greece_data.csv', 'data/world_bank/armenia/armenia_data.csv', 'data/world_bank/czechia/czechia_data.csv', 'data/world_bank/israel/israel_data.csv', 'data/world_bank/turkiye/turkiye_data.csv', 'data/world_bank/iceland/iceland_data.csv']

In [134]:
poland = pd.read_csv(country_filepaths[0])

In [135]:
poland.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Poland,POL,"Unemployment with intermediate education, fema...",SL.UEM.INTM.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.364,7.646,6.221,5.057,4.460,3.976,4.461,4.040,4.267,NaN
1,Poland,POL,Unemployment with advanced education (% of tot...,SL.UEM.ADVN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.956,3.264,2.440,2.008,1.995,1.949,1.771,1.337,1.307,NaN
2,Poland,POL,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.766,17.659,14.824,11.747,9.874,10.833,11.939,10.798,11.359,NaN
3,Poland,POL,"Unemployment, youth female (% of female labor ...",SL.UEM.1524.FE.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.933,17.969,15.131,12.092,10.261,11.545,12.506,11.355,11.052,NaN
4,Poland,POL,"Part time employment, male (% of total male em...",SL.TLF.PART.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.830,16.410,16.950,20.220,20.250,22.980,14.630,15.850,15.740,NaN

In [136]:
poland.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    1492 non-null   object
 1   Country Code    1492 non-null   object
 2   Indicator Name  1492 non-null   object
 3   Indicator Code  1492 non-null   object
 4   1960            144 non-null    float64
 5   1961            158 non-null    float64
 6   1962            158 non-null    float64
 7   1963            163 non-null    float64
 8   1964            159 non-null    float64
 9   1965            162 non-null    float64
 10  1966            159 non-null    float64
 11  1967            159 non-null    float64
 12  1968            159 non-null    float64
 13  1969            160 non-null    float64
 14  1970            226 non-null    float64
 15  1971            227 non-null    float64
 16  1972            239 non-null    float64
 17  1973            236 non-null    float64
 18  1974            236 non-null    float64
 19  1975            234 non-null    float64
 20  1976            277 non-null    float64
 21  1977            278 non-null    float64
 22  1978            299 non-null    float64
 23  1979            281 non-null    float64
 24  1980            293 non-null    float64
 25  1981            288 non-null    float64
 26  1982            288 non-null    float64
 27  1983            288 non-null    float64
 28  1984            328 non-null    float64
 29  1985            328 non-null    float64
 30  1986            326 non-null    float64
 31  1987            335 non-null    float64
 32  1988            365 non-null    float64
 33  1989            328 non-null    float64
 34  1990            477 non-null    float64
 35  1991            526 non-null    float64
 36  1992            556 non-null    float64
 37  1993            568 non-null    float64
 38  1994            615 non-null    float64
 39  1995            749 non-null    float64
 40  1996            800 non-null    float64
 41  1997            781 non-null    float64
 42  1998            844 non-null    float64
 43  1999            827 non-null    float64
 44  2000            951 non-null    float64
 45  2001            898 non-null    float64
 46  2002            952 non-null    float64
 47  2003            966 non-null    float64
 48  2004            980 non-null    float64
 49  2005            1021 non-null   float64
 50  2006            1028 non-null   float64
 51  2007            1028 non-null   float64
 52  2008            1035 non-null   float64
 53  2009            1055 non-null   float64
 54  2010            1074 non-null   float64
 55  2011            1072 non-null   float64
 56  2012            1050 non-null   float64
 57  2013            1040 non-null   float64
 58  2014            1052 non-null   float64
 59  2015            1045 non-null   float64
 60  2016            1034 non-null   float64
 61  2017            1036 non-null   float64
 62  2018            991 non-null    float64
 63  2019            997 non-null    float64
 64  2020            902 non-null    float64
 65  2021            847 non-null    float64
 66  2022            658 non-null    float64
 67  2023            380 non-null    float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 804.4+ KB

In [137]:
poland_long = poland.melt(
        id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
        var_name='Year', value_name='Value'
    )

In [138]:
poland_long[poland_long["Value"].notna()].head().max()

Country Name                                                 Poland
Country Code                                                    POL
Indicator Name    Ratio of female to male labor force participat...
Indicator Code                                          SM.POP.TOTL
Year                                                           1960
Value                                                     2424881.0
dtype: object

In [139]:
pivoted_df = poland_long.pivot_table(
    index=['Country Name', 'Country Code', 'Year'],
    columns='Indicator Name',
    values='Value'
)

In [140]:
df_list = []

In [141]:
for country in country_filepaths:
    df = pd.read_csv(country)
    df_long = df.melt(
        id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
        var_name='Year', value_name='Value'
    )
    pivoted_df = df_long.pivot_table(
    index=['Country Name', 'Country Code', 'Year'],
    columns='Indicator Name',
    values='Value'
    ).reset_index()
    df_list.append(pivoted_df)

In [142]:
combined_data = pd.concat(df_list)

In [143]:
combined_data.dropna(subset="Year", inplace=True)
combined_data = combined_data.astype({"Year": int})

In [144]:
for col in combined_data.columns:
    if combined_data[col].dtype != float:
        print(col, combined_data[col].dtype)

Country Name object
Country Code object
Year int64

In [145]:
cols = ['Country Name', 'Country Code', 'Year'] + [col for col in combined_data if col not in ['Country Name', 'Country Code', 'Year', "Indicator Name"]]
combined_data = combined_data[cols].reset_index()

In [151]:
combined_data.sample(10)

Indicator Name,index,Country Name,Country Code,Year,Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",...,"People with basic handwashing facilities including soap and water, urban (% of urban population)","Risk premium on lending (lending rate minus treasury bill rate, %)","Incidence of malaria (per 1,000 population at risk)","Net financial flows, RDB concessional (NFL, current US$)",Financial intermediary services indirectly Measured (FISIM) (constant LCU),"Net financial flows, IMF concessional (NFL, current US$)",Newborns protected against tetanus (%),"Net official flows from UN agencies, UNWTO (current US$)",Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Use of insecticide-treated bed nets (% of under-5 population)
110,46,Belarus,BLR,2006,97.4,92.9,99.4,92.1,84.2,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2339,35,Romania,ROU,1995,NaN,NaN,NaN,100.0,100.0,100.0,...,NaN,8.633333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2606,46,Andorra,AND,2006,100.0,100.0,100.0,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,30,Sweden,SWE,1990,NaN,NaN,NaN,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,32,Slovak Republic,SVK,1992,NaN,NaN,NaN,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1275,59,Croatia,HRV,2019,100.0,100.0,100.0,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2588,28,Andorra,AND,1988,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2481,49,Denmark,DNK,2009,100.0,100.0,100.0,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735,31,Bosnia and Herzegovina,BIH,1991,NaN,NaN,NaN,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1721,57,Ireland,IRL,2017,100.0,100.0,100.0,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
randomly_chosen_column = choice([col for col in combined_data if col not in ['Country Name', 'Country Code', 'Year', "Indicator Name"]])

combined_data[randomly_chosen_column].describe()

count       150.000000
mean       5344.487621
std       16949.923047
min           0.000000
25%           0.000000
50%         877.354127
75%        3829.631065
max      109238.213126
Name: Rural land area where elevation is below 5 meters (sq. km), dtype: float64

In [152]:
combined_data.to_csv("./data/world_bank/combined_world_data.csv", index=False)